
.cell {
    display: inline-block;
    height: 300px;
    width: 300px;
    float: left;
    display: table;

}

.container {
    max-width: 1200px;
}

.cell div {
    display: block;
    vertical-align: middle;
    text-align: center;
    position: relative;
    top: 80px;
}

.circularImg{
    position: absolute;
    margin: 50px 0 0 50px;
    border-radius: 50%;
}